/* Laptop-Device 1024px  */
@media only screen and (width: 1024px){
	
}
/* Tablet-Device 768px  */
@media only screen and (width: 768px){
	/* home page  */
    .main-menu-area {
        /* padding: 15px 0px; */
        background-color: #000;
        color: #fff !important;
    }
    .nav-link {
        color: #FFF !important;
        line-height: 37px;
        margin-right: 16px;
        font-size: 18px;
        font-family: arial;
    }
    .hero-area h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.28;
        margin-bottom: 25px;
        white-space: normal;
        text-align: center;
    }
    .hero-area .feature-text {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.75;
        color: #242c42;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: normal;
        text-align: center;
        margin-right: -3px;
    }
    .hero-area img {
        margin-top: 50px;
    }
    .explore-area .explore-image {
        display: inline;
    }
    .explore-area {
        /* margin-bottom: 30px; */
        text-align: center;
        padding-top: 30px;
        /* margin-bottom: 55px; */
        /* padding: 10px 0; */
        box-shadow: none;
        border: 0;
    }
    .explore-area .explore-text {
        text-align: center;
        margin: 15px 0px !important;
        vertical-align: middle;
        display: inherit;
    }
    .main-menu-area input {
        margin-right: 0px !important;
        width: 100px !important;
    }

    /* Front_End Dashbord page css  */
    
    .brand-btn.write-review {
        background: none;
        color: #fff !important;
        text-transform: capitalize;
    }
    .menu-title {
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }
    .username {
        text-align: center;
        font-size: 16px;
        margin-top: 7px;
        color: #738391;
        margin-bottom: -25px;
    }
    .box-menu h6 {
        display: inline;
        margin-left: 20px;
    }
    .box-menu {
        padding: 30px;
        padding-left: 63px;
        text-align: left;
    }
    .side-bar-box {
        margin-top: -160px;
    }
    .admin-main-content {
        padding: 20px;
    }

    .flowers-area {
        background: #ededed;
        padding: 15px 0px;
        display: none;
    }

}
/* Mobile Device 320px */
@media only screen and (max-width: 320px){



    /* Home page  */


	.main-menu-area {
        /* padding: 15px 0px; */
        background-color: #000;
        color: #fff !important;
    }
    .nav-link {
        color: #FFF !important;
        line-height: 37px;
        margin-right: 16px;
        font-size: 18px;
        font-family: arial;
    }
    .hero-area h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.28;
        margin-bottom: 25px;
        white-space: normal;
        text-align: center;
    }
    .hero-area .feature-text {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.75;
        color: #242c42;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: normal;
        text-align: center;
        margin-right: -3px;
    }
    .hero-area img {
        margin-top: 50px;
    }
    .explore-area .explore-image {
        display: inline;
    }
    .explore-area {
        /* margin-bottom: 30px; */
        text-align: center;
        padding-top: 30px;
        /* margin-bottom: 55px; */
        /* padding: 10px 0; */
        box-shadow: none;
        border: 0;
    }
    .explore-area .explore-text {
        text-align: center;
        margin: 15px 0px !important;
        vertical-align: middle;
        display: inherit;
    }

    /* Front_End Dashbord page css  */

    .menu-title {
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }
    .username {
        text-align: center;
        font-size: 16px;
        margin-top: 7px;
        color: #738391;
        margin-bottom: -25px;
    }
    .box-menu h6 {
        display: inline;
        margin-left: 20px;
    }
    .box-menu {
        padding: 30px;
        padding-left: 63px;
        text-align: left;
    }
    .side-bar-box {
        margin-top: -230px;
    }
    .admin-main-content {
        padding: 20px;
    }

   
}
/* Mobile M 375px Device */
@media only screen and (width: 375px){
	/* Home page  */
    .main-menu-area {
        /* padding: 15px 0px; */
        background-color: #000;
        color: #fff !important;
    }
    .nav-link {
        color: #FFF !important;
        line-height: 37px;
        margin-right: 16px;
        font-size: 18px;
        font-family: arial;
    }
    .hero-area h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.28;
        margin-bottom: 25px;
        white-space: normal;
        text-align: center;
    }
    .hero-area .feature-text {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.75;
        color: #242c42;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: normal;
        text-align: center;
        margin-right: -3px;
    }
    .hero-area img {
        margin-top: 50px;
    }
    .explore-area .explore-image {
        display: inline;
    }
    .explore-area {
        /* margin-bottom: 30px; */
        text-align: center;
        padding-top: 30px;
        /* margin-bottom: 55px; */
        /* padding: 10px 0; */
        box-shadow: none;
        border: 0;
    }
    .explore-area .explore-text {
        text-align: center;
        margin: 15px 0px !important;
        vertical-align: middle;
        display: inherit;
    }


      /* Front_End Dashbord page css  */

      .menu-title {
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }
    .username {
        text-align: center;
        font-size: 16px;
        margin-top: 7px;
        color: #738391;
        margin-bottom: -25px;
    }
    .box-menu h6 {
        display: inline;
        margin-left: 20px;
    }
    .box-menu {
        padding: 30px;
        padding-left: 93px;
        text-align: left;
    }
    .side-bar-box {
        margin-top: -230px;
    }
    .admin-main-content {
        padding: 20px;
    }



}
/* Mobile L 425px Device */
@media only screen and (width: 425px){
	/* Home Page 425 */
    .main-menu-area {
        /* padding: 15px 0px; */
        background-color: #000;
        color: #fff !important;
    }
    .nav-link {
        color: #FFF !important;
        line-height: 37px;
        margin-right: 16px;
        font-size: 18px;
        font-family: arial;
    }
    .hero-area h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.28;
        margin-bottom: 25px;
        white-space: normal;
        text-align: center;
    }
    .hero-area .feature-text {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.75;
        color: #242c42;
        text-overflow: ellipsis;
        overflow: visible;
        white-space: normal;
        text-align: center;
        margin-right: -3px;
    }
    .hero-area img {
        margin-top: 50px;
    }
    .explore-area .explore-image {
        display: inline;
    }
    .explore-area {
        /* margin-bottom: 30px; */
        text-align: center;
        padding-top: 30px;
        /* margin-bottom: 55px; */
        /* padding: 10px 0; */
        box-shadow: none;
        border: 0;
    }
    .explore-area .explore-text {
        text-align: center;
        margin: 15px 0px !important;
        vertical-align: middle;
        display: inherit;
    }

      /* Front_End Dashbord page css  */

      .menu-title {
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }
    .username {
        text-align: center;
        font-size: 16px;
        margin-top: 7px;
        color: #738391;
        margin-bottom: -25px;
    }
    .box-menu h6 {
        display: inline;
        margin-left: 20px;
    }
    .box-menu {
        padding: 30px;
        padding-left: 120px;
        text-align: left;
    }
    .side-bar-box {
        margin-top: -230px;
    }
    .admin-main-content {
        padding: 20px;
    }



}

