/*------------------------------------------------------------------
	[Master Stylesheet]
	
	Project:    Project Name
	Version:    1.0
	Last change:    24/03/17 [fixed Float bug, vf]
	Author Name: Author Name
	Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
	[Table of contents]
	
	1. Body
	2.
-------------------------------------------------------------------*/

/*
	==========================================
    Reset Css
	==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
/* Universilal CSS  */

/* Universilal CSS  END */


/* Menu CSS  */
.main-menu-area {
	/* padding: 15px 0px; */
	background-color: #ededed;
}
.nav-link {
	color: #000 !important;
	line-height: 37px;
	margin-right: 16px;
	font-size: 18px;
	font-family: arial;
}
.navbar-brand img {
	width: 180px;
}
.brand-btn {
	padding: 9px 20px;
	font-size: 0.9375em;
	font-weight: 500;
	line-height: 1.2;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #44a512;
	background-color: #44a512;
    cursor: pointer;
	color: #fff !important;
}


/* Hero Area  */

.hero-area {
    /* height: 450px; */
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
	background-color: #f3f3f3;
}

.hero-area h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.28;
    color: #242c42;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}

.hero-area .feature-text{
    margin: 0 0 1.875em 0;
    font-size: 20px;
    line-height: 1.75;
    color:#242c42;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}

.hero-area .form-control {
    height: 60px;
    padding-left: 47px;
    font-size: 18px;
}

.search-btn-box .icon-search {
	font-size: 22px;
	color: black;
	margin: 13px;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
.search-btn-box {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 5px;
	z-index: 1000;
	left: 0;
	border-top-right-radius: 5px;
}


.left-search-padding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-area input {
	border-radius: 4px !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px rgba(36, 44, 66, 0.4);
	height: 60px;
}

/* explore area  */
.explore-area {
	margin-bottom: 55px;
	padding: 10px 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
}
.explore-area .explore-image {
	padding-right: 17px;
	display: table-cell;
	vertical-align: middle;
}

.explore-area .explore-text {
	vertical-align: middle;
	display: table-cell;
	text-align: left;
}
.explore-area .explore-title {
	font-size: 1.125em;
	font-weight: 500;
	color: #777777;
	text-decoration: none;
}
.explore-area .explore-title:hover {
	color: #44a512;
}
.explore-area p {
	font-size: 1em;
	color: #777777;
}



/* lawyears Profile area  */

.lawyers-profile-area {
	padding-bottom: 100px;
}
.lawyers-title {
	color: #344763;
	margin: 20px 0px;
}
.lawyers-title span {
	color: #55BC7E;
}
.lawyers-title-content {
	margin: 30px 0px;
	color: #344763;
}
.section-gap {
	margin: 160px 0px;
}

.lawyers-box {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}
.lawyers-box:hover {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
	padding: 20px;
	border-radius: 10px;
	background: #344763;
	transition: .5s;
	color: #fff !important;
	cursor: pointer;
}
.lawyers-box.active {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
	padding: 20px;
	border-radius: 10px;
	background: #344763;
	transition: .5s;
	color: #fff !important;
	cursor: pointer;
}
.lawyers-name span.active {
	color: #55BC7E;
	/* transition: .5s; */
}


.lawyers-profile {
	display: inline-flex;
}
.lawyers-profile img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}


.lawyers-name {
	font-weight: bold;
	margin: 20px;
	font-size: 20px;
	margin-top: 8px;
	/* color: #241953; */
}
.lawyers-name span {
	margin-left: 70px;
	color:#55BC7E;
}
.lawyers-exprience {
	color: #D4D4D4;
	margin: 20px 0px;
}
.lawyers-exprience span {
	float: right;
	color: #FF9066;
	background: #FFEEE6;
	padding: 7px;
	font-size: 12px;
	border-radius: 10px;
	margin-top: -4px;
	margin-right: 16px;
}
.far.fa-bookmark {
	background: #ededed;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border-radius: 6px;
	cursor: pointer;
}
.lawyers-contnet {
	color: #D4D4D4;
	margin: 15px 0px;
}
.hire-lawyers.btn.btn-success {
	border: 0;
	background: none;
	color: #55BC7E;
	text-transform: capitalize;
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 10px;
}
.lawyers-name span:hover {
	color: #55BC7E;
	transition: .5s;
}


/* talented lawyers area css */


.talented-lawyears-area {
	padding: 50px 0px;
	background: #f3f3f3;
}
.tal-law-content {
	padding-top: 35px;
}
.lat-law-title {
	color: #7D8793;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 30px;
}
.lat-law-title span {
	color: #55BC7E;
}
.tal-law-text {
	color: #B0B0BF;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.tal-law-content button {
	font-weight: bold;
	padding: 15px 35px;
}




/* Law farm css  */

.law-farm-job-area {
	padding: 100px 0px;
}
.law-farm-content {
	padding-top: 100px;
}
.law-farm-title {
	color: #7D8793;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 30px;
}
.law-farm-title span {
	color: #55BC7E;
}
.law-farm-text {
	color: #B0B0BF;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.law-farm-content button {
	font-weight: bold;
	padding: 15px 35px;
}

/* Client and review area  */

.review-area {
	background: #f3f3f3;
	padding: 50px 0px;
}
.review-title {
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: #7D8793;
}

.review-box img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.review-box {
	box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.15);
	border: 1px solid #d7d7d7;
	padding: 30px;
	border-radius: 20px;
	margin-top: 20px;
}
.review-hr {
	width: 100px;
	border-bottom: solid 2px #d5e225;
	margin-bottom: 30px;
	display: inline-block;
}
.review-content {
	padding:25px 0px;
	color: #00000063;
}

.review-box.text-center h5 {
	font-weight: bold;
	margin-bottom: 20px;
	color: #221751;
}
.review-box h6 {
	color: #00000063;
}







/*All Page CSS Here Start */

/* Brands Page  */
.brand-hero{
	min-height: 576px;
	background-image: url(../img/whyms.svg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff !important;
}


.brand-hero-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	
}
.brand-hero-content {
	font-size: 18px;
	margin-bottom:30px;
	line-height: 1.6;
	color: #fff;
}
.brand-hero-section {
	padding-top: 166px;
}



/* Section How it work  */
.section-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #242c42;
}
.divider-line {
	width: 100px;
	border-bottom: solid 2px #81209d;
	margin-bottom: 30px;
	display: inline-block;
}
.ms-works svg {
    position: absolute;
    top: 26%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.ms-works {
    min-height: 585px;
    text-align: center;
    position: relative;
}

.ms-works-holder {
    min-height: 445px;
    width: 20%;
    float: left;
    position: relative;
}
.even-holder .ms-works-inner {
    top: 53%;
}
.ms-works-holder .ms-works-inner {
	position: absolute;
}

.odd-holder .ms-works-inner {
    top: 0;
}



.ms-works-holder.odd-holder .works-content {
    padding-bottom: 20px;
}

.ms-works-holder.even-holder .works-content {
    padding-top: 20px;
}

.works-icon-holder span {
	display: inline-block;
	padding: 16px;
	border: 2px solid #81209d;
	border-radius: 100%;
	background-color: #fff;
	width: 65px;
	height: 65px;
	/* margin-top: 42px; */
}

.works-icon-holder span img {
	font-size: 30px;
	width: 31px;
}

.works-content {
    color: #242c42;
}

.works-content-title {
    padding-bottom: 16px;
    font-size: 20px;
}
.works-content-info {
    min-height: 65px;
    font-size: 15px;
    line-height: 1.6;
}

/* bad review  */

.divider-line {
	width: 100px;
	border-bottom: solid 2px #81209d;
	margin-bottom: 30px;
	display: inline-block;
}
.section-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #242c42;
}
.section-content {
	font-size: 18px;
	color: #333;
	line-height: 1.6;
}
.primary-grad {
	background-image: linear-gradient(109deg, #3f0050, #81209d);
}
.btn-primary {
	padding: 7px 15px;
	border-radius: 4px;
	border: 1px solid #81209d;
	background-color: #81209d;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	line-height: 1.6;
}






.shape-svg-1, .shape-svg-2, .shape-svg-3, .curve-svg {
	position: relative;
	margin-top: 50px;
}
.shape-svg-1 svg {
	position: absolute;
	top: 0%;
	right: 0;
	z-index: -2;
}
.section-holder {
	padding-top: 50px;
}
.feature-section-holder {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
}
.image-left .feature-photo {
	padding-right: 125px;
}
.feature-section-holder .feature-photo img {
	width: 370px;
}
.feature-text .section-title {
	padding-right: 0 !important;
}

/* new Customar area  */

.new-customar {
	padding: 100px 0px;
}
.new-customar h2 {
	margin-top: 75px;
}

/* cta area  */
.cta {
	background-image: url(../img/client-bg.png);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff !important;
	min-height: 576px;
	text-align: center;
	margin: 50px 0px;
}
.divider-line.cta-divider {
	border-bottom: solid 2px #fff;
	margin-bottom: 30px;
	display: inline-block;
	margin-top: 20px;
}
.cta button {
	border: 1px solid aliceblue;
	background: none;
	padding: 10px 60px;
	font-weight: bold;
	margin-top: 20px;
}
.cta button:hover {
	background: green;
	transition: .3s;
	border: 1px solid aliceblue;
}
.cta input {
	width: 80%;
	display: block;
	margin: 0 auto;
	padding: 10px;
	margin-top: 15px;
}
.cta-title {
	margin-top: 110px;
}
.cta-content.pb-1 {
	margin-top: -15px !important;
}












/* Frontend dashbord css here ! */
.frn-hero-bg{
	/* background-color: #000; */
	height: 40vh;
	background-image: url(../img/fnadminbg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.brand-btn.write-review {
	background: none;
	color: #000 !important;
	text-transform: capitalize;
}
.brand-btn.write-review:hover {
	background: #44a512;
	color: #fff !important;
	transition: .3s;
}
.form-control {
	border: 1px solid #44a512 !important;
}
.nav-link img {
	border: 0;
	border-radius: 50%;
	height: 35px !important;
	/* width: 100%; */
}
.main-menu-area input {
	margin-right: 100px !important;
	width: 70% !important;
}

/* Flower */

.flowers-area {
	background: #ededed;
	padding: 15px 0px;
}
.flowers-area ul li a {
	float: left;
	margin: 0px 25px;
	color: #000;
	text-decoration: none;
}

.username {
	text-align: center;
	font-size: 18px;
	margin-top: 7px;
	color: #738391;
}


/* side bar menu  */
.box-menu ul li a i {
	color: #7C8C98 !important;
}
.side-bar-box {
	background: #fff;
	padding: 30px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
	margin-top: -150px;
	border-radius: 30px;
}
.side-bar-box img {
	height: 100px;
	width: 100px;
	margin: 0 auto !important;
	display: block;
	border-radius: 50%;
}
.menu-title {
	text-align: center;
	margin-top: 30px;
}
.box-menu {
	padding: 30px;
}
/* .box-menu ul li a {
	color: #000;
	margin: 10px 0px !important;
	display: block;
} */


.box-menu i {
	display: inline-block;
}
.box-menu h6 {
	display: inline;
	margin: 0px 20px;
}
.box-menu ul li a {
	text-decoration: none !important;
	color: #98A4AE;
}
.box-menu ul li {
	margin: 20px 0px;
}
.box-menu ul li a h6:hover {
	color: #1C9EEE !important;
}


.admin-main-content {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
	/* height: 50vh; */
	margin-top: 30px;
	padding: 50px;
}
.menu-title i {
	font-size: 20px;
	color: #1C9EEE;
	border-radius: 50% !important;
}
.admin-content-title {
	text-transform: capitalize;
	margin-bottom: 20px;
	color: #150f0f;
}

.admin-content-title span {
	text-transform: lowercase;
	font-size: 14px;
	margin: 0px 25px;
	display: inline;
	color: #6B7C8B;
}
.admin-content-text {
	color: #697A89;
}


/*All Page CSS Here END */














