/*------------------------------------------------------------------
	[Master Stylesheet]
	
	Project:    Project Name
	Version:    1.0
	Last change:    24/03/17 [fixed Float bug, vf]
	Author Name: Author Name
	Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
	[Table of contents]
	
	1. Body
	2.
-------------------------------------------------------------------*/

/*
	==========================================
    Reset Css
	==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
/* Universilal CSS  */

/* Universilal CSS  END */


/* Menu CSS  */
.main-menu-area {
	padding: 15px 0px;
}
.nav-link {
	color: #000 !important;
	line-height: 37px;
	margin-right: 16px;
	font-size: 18px;
	font-family: arial;
}
.navbar-brand img {
	width: 180px;
}
.brand-btn {
	padding: 9px 20px;
	font-size: 0.9375em;
	font-weight: 500;
	line-height: 1.2;
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #44a512;
	background-color: #44a512;
    cursor: pointer;
	color: #fff !important;
}


/* Hero Area  */

.hero-area {
    /* height: 450px; */
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
	background-color: #f3f3f3;
}

.hero-area h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.28;
    color: #242c42;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}

.hero-area .feature-text{
    margin: 0 0 1.875em 0;
    font-size: 20px;
    line-height: 1.75;
    color:#242c42;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}

.hero-area .form-control {
    height: 60px;
    padding-left: 47px;
    font-size: 18px;
}

.search-btn-box .icon-search {
	font-size: 22px;
	color: black;
	margin: 13px;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}
.search-btn-box {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 5px;
	z-index: 1000;
	left: 0;
	border-top-right-radius: 5px;
}


.left-search-padding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-area input {
	border-radius: 4px !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px rgba(36, 44, 66, 0.4);
	height: 60px;
}

/* explore area  */
.explore-area {
	margin-bottom: 55px;
	padding: 10px 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid #e5e5e5;
}
.explore-area .explore-image {
	padding-right: 17px;
	display: table-cell;
	vertical-align: middle;
}

.explore-area .explore-text {
	vertical-align: middle;
	display: table-cell;
	text-align: left;
}
.explore-area .explore-title {
	font-size: 1.125em;
	font-weight: 500;
	color: #777777;
	text-decoration: none;
}
.explore-area .explore-title:hover {
	color: #44a512;
}
.explore-area p {
	font-size: 1em;
	color: #777777;
}










/*All Page CSS Here Start */

/* Brands Page  */
.brand-hero{
	min-height: 576px;
	background-image: url(../img/whyms.svg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff !important;
}


.brand-hero-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	
}
.brand-hero-content {
	font-size: 18px;
	margin-bottom:30px;
	line-height: 1.6;
	color: #fff;
}
.brand-hero-section {
	padding-top: 166px;
}

/*All Page CSS Here END */














.section-title {
	margin: 0;
	padding-bottom: 20px;
	font-size: 30px;
	font-weight: 500;
	color: #242c42;
}
.divider-line {
	width: 100px;
	border-bottom: solid 2px #81209d;
	margin-bottom: 30px;
	display: inline-block;
}

.ms-works {
    min-height: 585px;
    text-align: center;
    position: relative;
}

.ms-works-holder {
    min-height: 445px;
    width: 20%;
    float: left;
    position: relative;
}

.ms-works-holder .ms-works-inner {
	position: absolute;
}

.odd-holder .ms-works-inner {
    top: 0;
}

.even-holder .ms-works-inner {
    top: 53%;
}

.ms-works-holder.odd-holder .works-content {
    padding-bottom: 20px;
}

.ms-works-holder.even-holder .works-content {
    padding-top: 20px;
}

.works-icon-holder span {
	display: inline-block;
	padding: 16px;
	border: 2px solid #81209d;
	border-radius: 100%;
	background-color: #fff;
	width: 65px;
	height: 65px;
	margin-top: 42px;
}

.works-icon-holder span img {
	font-size: 30px;
	width: 31px;
}

.works-content {
    color: #242c42;
}

.works-content-title {
    padding-bottom: 16px;
    font-size: 20px;
}

.works-content-info {
    min-height: 65px;
    font-size: 15px;
    line-height: 1.6;
}

/* .shape-svg-1, .shape-svg-2, .shape-svg-3, .curve-svg {
    position: relative;
	}
	
    .shape-svg-1 svg {
	position: absolute;
	top: 0%;
	right: 0;
	z-index: -2;
    }
	
    .shape-svg-2 svg {
	position: absolute;
	top: 11%;
	right: 0;
	z-index: -2;
    }
	
    .shape-svg-3 svg {
	position: absolute;
	top: 15%;
	right: 0;
	z-index: -2;
} */

.ms-works svg {
    position: absolute;
    top: 26%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}